.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    color: #32E0C4;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Courier New', monospace;
    font-weight: 400;
    user-select: none;
    gap: 20px;
}

.about h1 {
    font-family: "Bebas Neue";
    font-size: 3.8rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #32E0C4;
}

.about p {
    max-width: 700px;
    width: 100%;
    font-family: "Josefin Sans";
    text-align: justify;
    font-size: 20px;
    color:#EEEEEE;
    filter: drop-shadow(-10px 0 150px #00ffd5);
}


.aboutText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    max-width: 1200px;
    color: #00ffd5;
    font-size: 18px;
    line-height: 1.6;
    font-family: "Josefin Sans";
    font-weight: 400;
    gap:20px;
    background-color: #21195183;
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border: 1px solid #00ffd5;
    border-radius: 10px;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    color: #00ffd5;
    font-size: 18px;
    line-height: 1.6;
    font-family: "Josefin Sans";
    font-weight: 400;
    padding: 20px;
    text-align: justify;
}

.image {
    max-width: 500px;
    width: 100%;
    height: auto;
    object-fit: cover;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    object-fit: cover;
    object-position: center;
    max-width: 500px;
}

.image:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 6px #00ffd5);
}
@media screen and (max-width: 768px) {
    .aboutText {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
}